# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/

InQ_2023_JavaBasic.iml
dataSources.local.xml
.idea
out

